.dateContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    letter-spacing: 1px;
    word-spacing: 7px;
    gap: 5px;
    font-size: 18px;
    /* border: solid 1px black; */
    max-width: 630px;

}