.DoorSignStyles {
  display: flex;
  align-items: center;
  max-width: 620px;
  margin: auto;
  padding: 15px;
  /* border: solid 1px black; */

}

.profileImage {
  max-width: 30%; /* Använd procentenheter för att göra den responsiv */
  margin-right: 20px; /* Justera marginalen efter behov */
}

.textContainer {
  flex-grow: 1;
}

.DoorSignStyles img {
  width: 100%;
  height: auto; /* För att bevara bildens proportioner */
  border-radius: 50%;
}

.DoorSignStyles h1 {
  font-size: 2em;
  font-weight: bold;
}

.DoorSignStyles h2 {
  font-size: 1.5em;
}

.DoorSignStyles p {
  font-size: 1em;
}
